# .npmignore 

.mocharc.js
.gitignore
.gitattributes
.travis.yml
.prettierignore
jsdoc.json
babel.config.js
*.log
*.md
src
test
examples
docs
coverage
allure-results
allure-report
node_modules
.nyc_output
.husky